/* || Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

/* || Layout Container */
.container {
    max-width: 800px;
    margin: 0 auto;
}

/* || Card Styling */
.card {
    background: #cfb1db;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* || Typography */
h1 {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

p {
    margin-bottom: 10px;
}

/* || Lists */
ul {
    margin-left: 20px;
    margin-bottom: 10px;
}

/* || Hyperlinks */
a {
    text-decoration: none;
    color: #7530c5;
}

a:hover {
    color: #430a64;
}

/* || Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 2px solid #751c91;
    padding: 8px;
}

th {
    background-color: #3b0a47;
    color: rgb(255, 255, 255);
}

/* || Contact Form */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #702aaa;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1e0046;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

header {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.profile-img {
    display: block;
    margin: 15px auto;
    height: 200px;
    border-radius: 10px;
}